# JetBrains IDE configuration
.idea/

# Build & Distributable directories
build/
dist/

# Node Modules
node_modules

# Environment variable (use `.env.example` for template)
.env

# Directory that contains unfinished code that will be implemented a later date
todo